<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>LINE</title>
    <!-- <meta name="viewport" content="width=device-width height=device-height, initial-scale=1.0"> -->
    <!-- <meta name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0'> -->
     <style>


    </style>

  </head>
  <body style="background-color:#000000;">
    <div style = "object-fit:cover;object-position:50% 50%;width:1670px;">
        <img id="bg1" src="static/312phone/8_c_dragon.jpg" alt="center" style="width:1670px;position: absolute;top:0;left:0;" > 
        <div id = "but5" style="position: absolute;top:700px;left:0px; display:block; margin:auto;
        width: 1650px;
        height: 330px;
        background-color: rgba(204, 80, 23,0);
        z-index: 26" >
        </div>
        <div id = "but6" style="position: absolute;top:1035px;left:0px; display:block; margin:auto;
        width: 1650px;
        height: 330px;
        background-color: rgba(204, 80, 23 ,0);
        z-index: 25" >
        </div>
        <div id = "but7" style="position: absolute;top:1370px;left:0px; display:block; margin:auto;
        width: 1650px;
        height: 330px;
        background-color: rgba(204, 80, 23, 0);
        z-index: 24" >
        </div>

    </div>
    <script>
      var but5 = document.getElementById("but5");
      var but6 = document.getElementById("but6");
      var but7 = document.getElementById("but7");
      var round = 4 ;
      but5.onclick = function() {
                  if (round>=4){
                      round = 5;
                      window.open("/312linebird")
                  };
              };

      but6.onclick = function() {
          if (round>=5){
              round = 6;
              window.open("/312linedragon")
          };
      };

      but7.onclick = function() {
          if (round>=6){
              round = 7;
              window.open("/312linethree")
          };
      };

    </script>
  </body>
</html>
