<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>31255phone網址名</title>
    <!-- <meta name="viewport" content="width=device-width height=device-height, initial-scale=1.0"> -->
    <style>


    </style>

  </head>
  <body style="background-color:#000000;">
    <div style = "object-fit:cover;object-position:50% 50%;width:1600px;">
        <img id="bg1" src="static/312phone/312sir1.jpg" alt="center" style="width:1670px;position: absolute;top:0;left:0;" > 
        <div id = "but1" style="position: absolute;top:2750px;left:550px; display:block; margin:auto;
                                width: 590px;
                                height: 280px;
                                background-color: rgba(204, 80, 23, 0);
                                z-index: 30" >
        </div>
        <div id = "but2" style="position: absolute;top:1620px;left:650px; display:block; margin:auto;
                                width: 420px;
                                height: 250px;
                                background-color: rgba(204, 80, 23, 0);
                                z-index: 29" >
        </div>
        <div id = "touch" style="position: absolute;top:3000px;left:650px; display:block; margin:auto;
                                width: 450px;
                                height: 450px;
                                background-color: rgba(204, 80, 23, 1);
                                z-index: 28" >
        </div>
    </div>
    <script>
        var bg = document.getElementById("bg1");
        var but1 = document.getElementById("but1");
        var but2 = document.getElementById("but2");
        var but3 = document.getElementById("touch");
        var round = 0

        but1.onclick = function() {
            bg.src = "static/312phone/312sir2.jpg";
            round = 1;
            but1.innerHTML = "";
        };


        but2.onclick = function() {
            if (round=1){
                bg.src = "static/312phone/312lock.jpg";
                round = 2;
                but2.innerHTML = "";
            }
        };

        but3.onclick = function() {
            if (round=2){
                bg.src = "static/312phone/312lock.jpg";
                round = 3;
                but3.innerHTML = "";
            }
        };

        



    </script>
  </body>
</html>
