<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Find Me</title>
    <style>
        .color-lump{
            width: 800px;
            height: 200px;
            background-color: #33cd5f;
        }
    </style>

  </head>
  <body style="background-color:#000000;">
     <div style=" object-fit:cover;object-position:50% 50%;width:1600px;">
        <img id="bg2" src="static/45/45chat2.jpg" alt="center" style="width:1600px;position: absolute;">       
        <!-- <img id="bg1" src="static/123-dark.png" alt="center" style="width:1600px;opacity: 1; position: absolute;">  -->
        <!-- <button id = "light"><img id = "turn" src= "static/123-turnoff.png" style="position: absolute;top: 1cm;left : 1500px; object-position: center center;" width = "50px"></button> -->
        <!-- <div id = "board" class="color-lump" style="position: absolute; top:5cm; left:400px;" ></div> -->
    </div>

    </script>
  </body>
</html>
