<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
</head>

<body>
<input id="p1" type="button" onmousedown="holdDown()" onmouseup="holdUp()" value="http://blog.csdn.net/qq_21687989/article/details/滑鼠長按"/>

<script type="text/javascript">
    //申明全局變數
    var timeStart, timeEnd, time;

    //獲取此刻時間
    function getTimeNow() {
        var now = new Date();
        return now.getTime();
    }

    //滑鼠按下時觸發
    function holdDown() {
        //獲取滑鼠按下時的時間
        timeStart = getTimeNow();

        //setInterval會每100毫秒執行一次，也就是每100毫秒獲取一次時間
        time = setInterval(function () {
            timeEnd = getTimeNow();

            //如果此時檢測到的時間與第一次獲取的時間差有1000毫秒
            if (timeEnd - timeStart > 1000) {
                //便不再繼續重復此函數 （clearInterval取消周期性執行）
                clearInterval(time);
                //字體變紅
                document.getElementById("p1").style.color = "red";
            }
        }, 100);
    }
    function holdUp() {
        //如果按下時間不到1000毫秒便彈起，
        clearInterval(time);
    }
</script>
</body>
</html>