<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>点击按钮切换图片</title>
</head>

<body>
    <input type="button" value="点击" id="btn"><br>
    <img src="static/123-dark.png" alt="" id="pic">
    <body style="background-color:#000000;">
      <div style="text-align: center; width:99%; border: green solid 0px;">
         <img id="bg" src="static/123-dark.png" alt="center" style="width:979px;height:2082px;object-fit:cover;object-position:50% 50%">
 
     </div>

    <script>
        // 获取元素
        var btn = document.getElementById("btn");
        var pic = document.getElementById("pic");
        // 通过一个变量作为判断条件，变量值为1，认为加载的是 a 图片，如果变量为2，认为加载的是 b 图片
        var num = 1;
        // 给按钮添加点击事件
        btn.onclick = function() {
            // 给图片换 src 的属性值
            // 通过 if 语句判断，如果是 a 图片，就换成 b 图片，反之换成 a 图片
            if (num === 1) {
                pic.src = "static/123-light.png";
                num = 2;
            } else {
                pic.src = "images/a.jpg";
                num = 1;
            }
        };
    </script>
</body>

</html>